.links

  = mail_to("contact@ekylibre.org", title: "contact[at]ekylibre[dot]org") do
    %i.comm.icon-envelope

  = link_to("https://twitter.com/EkylibreERP", title: "@EkylibreERP") do
    %i.comm.icon-twitter

  = link_to("https://www.facebook.com/pages/Ekylibre/219433324846514", title: "Facebook") do
    %i.comm.icon-facebook  
