%nav#menu{'data-smint-menu' => 'main'}
  %ul
    %li.back-to-top
      =link_to("#head", 'data-smint' => 'main') do
        %i.icon-arrow-up
    -#%li=link_to("Demo", "https://ekylibre.org/demo")
    %li=link_to("News", "#news", 'data-smint' => 'main')
    %li=link_to("Download", "#download", 'data-smint' => 'main')
    %li=link_to("Forum", "https://www.ekylibre.org/forum")
    %li=link_to("Code", "http://github.com/ekylibre/ekylibre")
    %li=link_to("Contact", "#contact", 'data-smint' => 'main') 
    %li=link_to("Support", "http://ergolis.com")
 
  